@import url('https://fonts.googleapis.com/css2?family=K2D:ital@1&display=swap');

.learn-more {
  text-shadow: -1px 2px 2px rgba(39, 41, 35, 0.68);
  font-family: 'K2D', sans-serif;
  position: absolute;
  width: 40vw;
  top: 25%;
  left: 10%;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@media only screen and (max-width: 1366px) {
  .learn-more {
    text-shadow: -1px 2px 2px rgba(39, 41, 35, 0.68);
    font-family: 'K2D', sans-serif;
    position: absolute;
    width: 40vw;
    top: 20%;
    left: 10%;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .learn-more .cloud-description {
    text-indent: 50px;
    font-size: 15px;
  }

  .learn-more .cloud-title {
    font-size: 50px;
    margin-bottom: 10px;
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.learn-more {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.cloud-description {
  text-indent: 50px;
  font-size: 25px;
}

.home-menu {
  text-shadow: -1px 2px 2px rgba(39, 41, 35, 0.68);
  padding: 20px;
  margin-right: 100px;
  float: right;
  font-family: 'K2D', sans-serif;
  color: whitesmoke;
  font-size: 20px;
}

.home-menu > a {
  margin-left: 30px;
}

.cloud-title {
  font-size: 70px;
  margin-bottom: 0px;
}

.cloud-description,
.cloud-title {
  color: whitesmoke;
}
